@inherits LayoutComponentBase
@inject NavigationManager _navMan

<div class="page">
    <div class="sidebar border-right border-dark">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 py-3">
            <!--Search-->
            <div class="form-outline">
                <input type="text" id="form1"
                       @bind="hexSearch"
                       @bind:event="oninput"
                       @onkeydown="SearchColor"
                       class="form-control"
                       placeholder="Search (eg. EF2ABD)"
                       aria-label="Search" />
            </div>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{

    private string hexSearch { get; set; }

    private void SearchColor(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
        {
            _navMan.NavigateTo($"/{hexSearch.Replace("#", "")}");
        }
    }
}