@page "/swatch-details/{id}"
@inject HttpClient Http

@if (color == null)
{
    <LoadingComponent />
    return;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="text-danger">@errorMessage</div>
}

<ColorSwatchComponent ColorHex="@Id" Height="600"></ColorSwatchComponent>

<ColorSwatchTintComponent ColorHex="@Id" IsHex="true" />

@code {
    [Parameter] public string Id { get; set; }

    private ColorResponse color;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {

        color = new ColorResponse { ColorValue = Id };

    }

    protected override Task OnParametersSetAsync()
    {

        color = new ColorResponse { ColorValue = Id };

        return base.OnParametersSetAsync();
    }
}