@page "/swatch-details/name/{id}"
@inject HttpClient Http

@if (color == null)
{
    <LoadingComponent />
    return;
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="text-danger">@errorMessage</div>
}

<ColorSwatchComponent ColorHex="@color.ColorValue" Height="600"></ColorSwatchComponent>

<ColorSwatchTintComponent ColorHex="@color.ColorValue" IsHex="true" />

@code {
    [Parameter] public string Id { get; set; }

    private ColorResponse color;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var result = await Http.GetFromJsonAsync<ApiResponse<ColorResponse>>($"name/{Id}");
            if (result.Data == null)
            {
                errorMessage = "Color does not exist in database";
                return;
            }
            color = result.Data;
        }
        catch (Exception ex)
        {

        }

    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {

            var result = await Http.GetFromJsonAsync<ApiResponse<ColorResponse>>($"name/{Id}");
            if (result.Data == null)
            {
                errorMessage = "Color does not exist in database";
                return;
            }
            color = result.Data;
        }
        catch (Exception ex)
        {

        }
    }
}