@page "/swatch-details/{id}"
@inject HttpClient Http

@if (color == null)
{
    <div class="text-danger">@errorMessage</div>
    return;
}
<ColorSwatchComponent ColorHex="@color.ColorValue"></ColorSwatchComponent>

<ColorSwatchTintComponent ColorHex="@color.ColorValue" IsHex="true" />

@code {
    [Parameter] public string Id { get; set; }

    private ColorResponse color;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            color = new ColorResponse { ColorValue = Id };
            /*var result = await Http.GetFromJsonAsync<ApiResponse<ColorResponse>>($"{Id}");
            if (result.Data == null)
            {
                errorMessage = "Color does not exist in database";
                return;
            }
            color = result.Data;*/
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occured while loading ";
        }

    }

    protected override Task OnParametersSetAsync()
    {
        try
        {

            color = new ColorResponse { ColorValue = Id };
            /*var result = await Http.GetFromJsonAsync<ApiResponse<ColorResponse>>($"{Id}");
            if (result.Data == null)
            {
                errorMessage = "Color does not exist in database";
                return;
            }
            color = result.Data;*/
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occured while loading ";
        }

        return base.OnParametersSetAsync();
    }
}