<div class="col-12">
    <div class="row">
        <ul class="d-flex ml-auto mr-auto justify-content-center">
            @for (int i = 1; i <= Pages; i++)
            {
                var x = i;
                <li class="mr-1 @(ActivePage==x?"active":"")"
                    @onclick="@(e => FindPage(x))">@x</li>

                }
        </ul>
    </div>
</div>

@code {
    [Parameter] public EventCallback<int> ClickCallback { get; set; }
    [Parameter] public int Pages { get; set; }
    [Parameter] public int ActivePage { get; set; }

    private async Task FindPage(int page)
    {
        Console.WriteLine(page);
        await ClickCallback.InvokeAsync(page);
    }
}